<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276202639585-gh91gho717bovlup9b2s0hgttpplraj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276202639585-gh91gho717bovlup9b2s0hgttpplraj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtZDn8xeNfQ_KBq2rQ1VFpDpULtfyFFfE</string>
	<key>GCM_SENDER_ID</key>
	<string>276202639585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mauripress</string>
	<key>PROJECT_ID</key>
	<string>mauripress-d1bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>mauripress-d1bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276202639585:ios:714057be428551682f27a0</string>
	<key>DATABASE_URL</key>
	<string>https://mauripress-d1bc8.firebaseio.com</string>
</dict>
</plist>